body{
    background: #000000;
    font-family:Helvetica Neue,  Helvetica,Arial,sans-serif;
    color:white;

}
h1{
    color:red;
    font-family:Comic Sans MS;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
li{
    display:inline-block;
    margin:20px;
}
nav{
    display:block;
    height: 80px;
    
}
header{
    background-color: rgb(39, 38, 38);

}
header a{
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}
a:hover
{
    text-decoration: none;
}
header.logo a{

background-size:300px;
height:100000px;
display:inline-block;

}

header.logout{
    align-content:right;
    margin-left:70px;
    float:right;
}